extends base.pug 

block scripts 
    script(src="/static/index.js") 

block style 
    style 
        include ../static/home.css

block link
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css") 
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")



block section form area
    <!-- -----section form area start----- -->
        section#home.banner
            div.container
                div.home-text
                    h1.h-primary 
                        |ABOUT US   
    <!-- -----section form area end----- -->    


block about area
    div.about-area
        div.container
            div.about-text
                p BLOOD BANK enforces, National blood policy standards and guidelines ensuring proper collection & donation, effective management and monitoring the quality and quantity of the donated blood. Considering the national rollout, BLOOD BANK has been developed with a modular and scalable approach with configurable rule-based architecture allowing customization to easily incorporate specific requirements from nationwide stakeholders.
                div.container
                    div.row.w-100
                        div.about-table
                            div.about-table-content1
                                ul 
                                    li 
                                        h4 Objectives
                                    li(style="list-style-type: disc;") Safe and Adequate Blood Supplies
                                    li(style="list-style-type: disc;") Reduced Turnaround Time
                                    li(style="list-style-type: disc;") Preventing Wastage of Blood
                                    li(style="list-style-type: disc;") Restrict Professional Donors
                                    li(style="list-style-type: disc;") Networking of Blood Banks
                                    li(style="list-style-type: disc;") Donor Repository
                            div.about-table-content2
                                ul 
                                    li
                                        h4 Salient Features
                                    li(style="list-style-type: disc;") Web-Based Application
                                    li(style="list-style-type: disc;") Aadhar Linkage
                                    li(style="list-style-type: disc;") Decision Support
                                    li(style="list-style-type: disc;") Enforces Guidelines
                                    li(style="list-style-type: disc;") Dashboard
                                    li(style="list-style-type: disc;") Statutory Reports
                //- p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptatem dolorum rerum eos nostrum? Obcaecati adipisci inventore vitae laborum doloribus ullam officiis beatae vero tenetur! Nisi corporis doloribus earum sunt?
                //- p Consectetur adipisicing elit. Saepe voluptates error ipsam fugiat ea praesentium quas porro architecto eius, ratione necessitatibus laudantium suscipit itaque nemo eveniet vero culpa. Et, incidunt ipsa! Laborum odit ducimus neque eaque, perspiciatis quia omnis ut.
                //- p Commodi delectus provident repudiandae ipsum voluptas! Quod sed quae consequatur eligendi quasi, dolore fugiat unde et ipsam? Inventore similique consequatur tenetur at!
                //- p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae itaque error possimus repudiandae. Quae voluptatem quasi rerum fuga ex, quidem explicabo omnis minus fugiat quibusdam, soluta culpa? Quam amet ipsum magnam enim tempore fugit magni blanditiis consequuntur minus sapiente eligendi ipsam, laudantium, dolorem deleniti incidunt. Iure consequatur architecto a, corrupti eius ipsam voluptatibus cumque. Ratione provident ad excepturi at placeat?
                //- p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias odio cumque quas maiores, exercitationem accusantium eius. Exercitationem praesentium quaerat et?    
                p BLOOD BANK has six major components for the management of the blood donation life cycle: The biometric Donor Management System for identifying, tracking and blocking donors based on donor's health, donation history etc.It provides features such as blood grouping, TTI screening, antibody screening, component preparation etc. as per the defined processes and rules.A centralized Blood Inventory Management System for keeping track of the bloodstock across numerous blood banks.Bio-Medical Waste Management System for disposal of discarded blood and other waste generated during this process.Generation of rare blood group donor registries and the generation of regular repeat donorsAlert and Notification System
