extends base.pug 

block scripts 
    script(src="/static/index.js") 

block style 
    style 
        include ../static/home.css

block link
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css") 



block section form area
    <!-- -----section form area start----- -->
        section#home.banner
            div.container
                div.home-text
                    h1.h-primary 
                        |ABOUT US   
    <!-- -----section form area end----- -->    


block about area
    div.about-area
        div.container
            div.about-text
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptatem dolorum rerum eos nostrum? Obcaecati adipisci inventore vitae laborum doloribus ullam officiis beatae vero tenetur! Nisi corporis doloribus earum sunt?
                p Consectetur adipisicing elit. Saepe voluptates error ipsam fugiat ea praesentium quas porro architecto eius, ratione necessitatibus laudantium suscipit itaque nemo eveniet vero culpa. Et, incidunt ipsa! Laborum odit ducimus neque eaque, perspiciatis quia omnis ut.
                p Commodi delectus provident repudiandae ipsum voluptas! Quod sed quae consequatur eligendi quasi, dolore fugiat unde et ipsam? Inventore similique consequatur tenetur at!
                p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae itaque error possimus repudiandae. Quae voluptatem quasi rerum fuga ex, quidem explicabo omnis minus fugiat quibusdam, soluta culpa? Quam amet ipsum magnam enim tempore fugit magni blanditiis consequuntur minus sapiente eligendi ipsam, laudantium, dolorem deleniti incidunt. Iure consequatur architecto a, corrupti eius ipsam voluptatibus cumque. Ratione provident ad excepturi at placeat?
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias odio cumque quas maiores, exercitationem accusantium eius. Exercitationem praesentium quaerat et?    