extends base.pug 

block scripts 
    script(src="/static/index.js") 

block style 
    style 
        include ../static/home.css

block link
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")    
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")


block section form area
    <!-- -----section form area start----- -->
        section#home.banner
            div.container
                div.home-text
                    h1.h-primary 
                        |BLOG                
    <!-- -----section form area end----- -->



block latest news area
    <!-- -----Latest News Area Start----- -->
        div.latest-news
            div.container
                div.latest-gallery-news
                    div.gallery-outer-stage-news
                        div.gallery-stage-news
                            div.gallery-item-news
                                div.latest-item
                                    div.latest-photo
                                        img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/news-6.jpg", alt="")
                                    div.latest-text
                                        h2 INDIAN RED CROSS SOCIETY
                                        ul 
                                            li Category:
                                                a(href="#")  Residential
                                            li Date: 05-02-2020
                                        div.latest-para
                                            p A mega Blood Donation camp was organised in Jadcherla,Telangana to mark the occasion of ex- Minister Dr. LaxmaReddy's birthday. On a single day, 1296 units of blood wascollected. A camp was also organised for cancer patients. Dr.Laxma Reddy was felicitated with a .....
                                            //- p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="https://www.indianredcross.org/ircs/ircs-newsletter-feb2020.pdf") Read More 
                                div.latest-item
                                    div.latest-photo
                                        img.w-100.h-100(src="../static/images/newsletter/newsletter_image2.jpg", alt="")
                                    div.latest-text
                                        h2 Blood donor stories: India
                                        ul 
                                            li Category:
                                                a(href="#")  Blood Donation
                                            li Date: 07-06-2021
                                        div.latest-para
                                            p As soon as I turned 18, I donated blood for the first time in my life. I didn't have any clear idea about the procedure or what I was expected to do or in what way I was contributing. But after being a donor once, I have donated blood almost 19 times without any fail ....
                                            //- p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="https://www.who.int/news-room/feature-stories/detail/blood-donor-stories-india") Read More 
                                div.latest-item
                                    div.latest-photo
                                        img.w-100.h-100(src="https://etimg.etb2bimg.com/photo/79184260.cms", alt="")
                                    div.latest-text
                                        h2 Effective RBD plasma in demand.
                                        ul 
                                            li Category:
                                                a(href="#")  Plasma
                                            li Date: 12-11-2020
                                        div.latest-para
                                            p With physicians finding receptor binding domain (RBD) plasma highly effective in viremic phase (first 8-10 days) of Covid infection, the demand for the strong anti-viral therapy has steadily shot up. The district still has over 1,000 mild, moderate and severe Covid patients ....
                                            //- p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="https://health.economictimes.indiatimes.com/news/diagnostics/effective-rbd-plasma-in-high-demand-but-lack-of-donation-poses-hurdle/79184242") Read More 
                            div.gallery-item-news
                                div.latest-item
                                    div.latest-photo
                                        img.w-100.h-100(src="https://phpscriptpoint.com/cc/bloodbank/assets/uploads/news-6.jpg", alt="")
                                    div.latest-text
                                        h2 INDIAN RED CROSS SOCIETY
                                        ul 
                                            li Category:
                                                a(href="#")  Residential
                                            li Date: 05-02-2020
                                        div.latest-para
                                            p A mega Blood Donation camp was organised in Jadcherla,Telangana to mark the occasion of ex- Minister Dr. LaxmaReddy's birthday. On a single day, 1296 units of blood wascollected. A camp was also organised for cancer patients. Dr.Laxma Reddy was felicitated with a .....
                                            //- p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="https://www.indianredcross.org/ircs/ircs-newsletter-feb2020.pdf") Read More 
                                div.latest-item
                                    div.latest-photo
                                        img.w-100.h-100(src="../static/images/newsletter/newsletter_image2.jpg", alt="")
                                    div.latest-text
                                        h2 Blood donor stories: India
                                        ul 
                                            li Category:
                                                a(href="#")  Blood Donation
                                            li Date: 07-06-2021
                                        div.latest-para
                                            p As soon as I turned 18, I donated blood for the first time in my life. I didn't have any clear idea about the procedure or what I was expected to do or in what way I was contributing. But after being a donor once, I have donated blood almost 19 times without any fail ....
                                            //- p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="https://www.who.int/news-room/feature-stories/detail/blood-donor-stories-india") Read More 
                                div.latest-item
                                    div.latest-photo
                                        img.w-100.h-100(src="https://etimg.etb2bimg.com/photo/79184260.cms", alt="")
                                    div.latest-text
                                        h2 Effective RBD plasma in demand.
                                        ul 
                                            li Category:
                                                a(href="#")  Plasma
                                            li Date: 12-11-2020
                                        div.latest-para
                                            p With physicians finding receptor binding domain (RBD) plasma highly effective in viremic phase (first 8-10 days) of Covid infection, the demand for the strong anti-viral therapy has steadily shot up. The district still has over 1,000 mild, moderate and severe Covid patients ....
                                            //- p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="https://health.economictimes.indiatimes.com/news/diagnostics/effective-rbd-plasma-in-high-demand-but-lack-of-donation-poses-hurdle/79184242") Read More 
                    div.gallery-nav
                    div.gallery-dots                    
    <!-- -----Latest News Area End----- -->    