extends base.pug 

block scripts 
    script(src="/static/index.js") 

block style 
    style 
        include ../static/home.css

block link
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")    


block section form area
    <!-- -----section form area start----- -->
        section#home.banner
            div.container
                div.home-text
                    h1.h-primary 
                        |BLOG                
    <!-- -----section form area end----- -->



block latest news area
    <!-- -----Latest News Area Start----- -->
        div.latest-news
            div.container
                //- div.headline
                //-     h2 
                //-         span Latest 
                //-         | News
                //-     div.headline-icon
                div.latest-gallery-news
                    div.gallery-outer-stage-news
                        div.gallery-stage-news
                            div.gallery-item-news
                                div.latest-item
                                    div.latest-photo
                                    div.latest-text
                                        h2 Lorem ipsum dolor sit amet consr.
                                        ul 
                                            li Category:
                                                a(href="#")  Residential
                                            li Date: 05-04-2019
                                        div.latest-para
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="#") Read More 
                                div.latest-item
                                    div.latest-photo
                                    div.latest-text
                                        h2 Lorem ipsum dolor sit amet consr.
                                        ul 
                                            li Category:
                                                a(href="#")  Residential
                                            li Date: 05-04-2019
                                        div.latest-para
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="#") Read More 
                                div.latest-item
                                    div.latest-photo
                                    div.latest-text
                                        h2 Lorem ipsum dolor sit amet consr.
                                        ul 
                                            li Category:
                                                a(href="#")  Residential
                                            li Date: 05-04-2019
                                        div.latest-para
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="#") Read More 
                            div.gallery-item-news
                                div.latest-item
                                    div.latest-photo
                                    div.latest-text
                                        h2 Lorem ipsum dolor sit amet consr.
                                        ul 
                                            li Category:
                                                a(href="#") Residential
                                            li Date: 05-04-2019
                                        div.latest-para
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="#") Read More 
                                div.latest-item
                                    div.latest-photo
                                    div.latest-text
                                        h2 Lorem ipsum dolor sit amet consr.
                                        ul 
                                            li Category:
                                                a(href="#") Residential
                                            li Date: 05-04-2019
                                        div.latest-para
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="#") Read More 
                                div.latest-item
                                    div.latest-photo
                                    div.latest-text
                                        h2 Lorem ipsum dolor sit amet consr.
                                        ul 
                                            li Category:
                                                a(href="#") Residential
                                            li Date: 05-04-2019
                                        div.latest-para
                                            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius animi fugarepellendus sint dignissimos, perferendis voluptates mollitia debitismolestias, laudantium voluptatum beatae facilis....
                                            a(href="#") Read More 
                    div.gallery-nav
                    div.gallery-dots                    
    <!-- -----Latest News Area End----- -->    